/* ========== CLIENTS ========== */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients__title {
  margin-bottom: 30px;

  @include font(28px, 700, 1.18);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  align-items: center;
}
.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

.clients__link {
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    margin-bottom: 50px;
    @include font(36px, 700, 1.17);
  }
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .clients__link {
    width: 170px;
  }
}
// основные стили
// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .clients__title {
//   margin-bottom: 50px;

//   font-style: normal;
//   @include font(36px, 700, 1.17);
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--title-text-color);
// }

// .clients__list {
//   display: flex;
//   justify-content: space-between;
// }

// .clients__link {
//   fill: var(--icon-color);
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: 1px solid #2196f3;
//     border-radius: 4px;
//     fill: var(--accent-color);
//   }
// }

/* ========== END CLIENTS ========== */
