/* ========== ПРЕИМУЩЕСТВА (dignity) ========== */
.dignity {
  padding-top: 60px;
  padding-bottom: 60px;
}

.dignity__icon-conteiner {
  width: 450px;
  height: 120px;

  display: flex;
  align-items: center;
  margin-bottom: 30px;

  background: var(--background-button-secondary);
  border-radius: 4px;
}
.dignity__icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.dignity__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  @include font(14px, 700, 1.14);
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.dignity__text {
  font-style: normal;
  color: var(--primery-text-color);
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
}

// 0-767
@media screen and (max-width: 767px) {
  .dignity__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .dignity__list {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .dignity__item {
    width: 354px;
    height: 251px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .dignity__icon-conteiner {
    width: 354px;
    height: 120px;

    display: flex;
    align-items: center;
    margin-bottom: 30px;

    background: var(--background-button-secondary);
    border-radius: 4px;
  }
  .dignity__title {
    text-align: left;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .dignity {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .dignity__list {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .dignity__item {
    width: 270px;
    height: 251px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }

  .dignity__icon-conteiner {
    width: 270px;
    height: 120px;
  }
}

// дубликат (удалить по окончанию)
// .dignity {
//   padding-top: 94px;
//   padding-bottom: 47px;
// }

// .dignity__list {
//   display: flex;
//   align-items: center;

//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }

// .dignity__item {
//   margin-left: 30px;
//   margin-top: 30px;
//   flex-basis: calc((100% - 120px) / 4);
// }

// .dignity__icon-conteiner {
//   display: flex;
//   align-items: center;
//   margin-bottom: 30px;

//   width: 270px;
//   height: 120px;
//   background: var(--background-button-secondary);
//   border-radius: 4px;
// }
// .dignity__icon {
//   margin: 0 auto;
//   width: 70px;
//   height: 70px;
// }

// .dignity__title {
//   margin-bottom: 10px;

//   color: var(--title-text-color);
//   @include font(14px, 700, 1.14);
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }

// .dignity__text {
//   color: var(--primery-text-color);
//   @include font(14px, 400, 1.71);
//   letter-spacing: 0.03em;

/* ========== END ПРЕИМУЩЕСТВА (dignity) ========== */
