/* ========== MAIN ========== */

// убрать width и height, bg size cover иили четкий размер; пофиксить при расмотрении моб-десктоп секция приимущества не центрируется?на десктопе, при меньшей 480 фонкартинка героя уменьшить но в центре??
.hero {
  width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/imeges/hero/Header-mobile.jpg');
  background-color: var(--background-footer-hero);
  background-repeat: no-repeat;
  background-position: center;
  // background-size: cover;
  background-size: 480px 400px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
  (min-resolution: 192dpi) and (min-width: 280px),
  (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/imeges/hero/Header-mobile@2x.jpg');
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  @include font(26px, 900, 1.62);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 30px;
}

// // 768+
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/imeges/hero/Header-tablet.jpg');
    background-size: 768px 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/imeges/hero/Header-tablet@2x.jpg');
  }
}

// // 1200+
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/imeges/hero/Header-desktop.jpg');
    background-size: 1600px 600px;
  }
  .hero__title {
    max-width: 696px;
    @include font(44px, 900, 1.36);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/imeges/hero/Header-desktop@2x.jpg');
  }
}

// моя основная разметка
// .hero {
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../imeges/hero/bg.jpg');
//   background-repeat: no-repeat;
//   background-position: center;

//   background-color: var(--background-footer-hero);
//   text-align: center;
// }

// .hero__title {
//   max-width: 696px;
//   margin-left: auto;
//   margin-right: auto;
//   @include font(44px, 900, 1.36);
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: #ffffff;

// margin-bottom: 30px;
// }

/* ========== END MAIN ========== */
