/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  @include font(24px, 700, 1.17);
  letter-spacing: 0.03em;
  text-align: center;
  color: #000000;
}

.logo span {
  color: var(--accent-color);
}

.footer__logo {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: 'Raleway', sans-serif;
    @include font(26px, 700, 1.19);
    letter-spacing: 0.03em;
    color: #000000;
  }
  .header__logo {
    margin-right: 93px;
  }
}
